acl goodclients {
	localhost;
	localnets;
};

options {
	directory "/var/cache/bind";

	recursion yes;
	allow-query { goodclients; };

	forwarders {
		{{ isp.dns1 }};
		{{ isp.dns2 }};
		{{ alias.router }};
	 };
	forward only;

	dnssec-enable no;
	dnssec-validation no;

	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };
};