hostname
clientid
persistent

option rapid_commit
option domain_name, domain_search
option classless_static_routes
option ntp_servers

require dhcp_server_identifier

slaac private

nohook lookup-hostname
interface wlan0
  static ip_address={{ alias.vpn }}/24
  static routers={{ alias.router }}
  static domain_name_servers={{ alias.dns }}